.center{
    text-align: center;
    color:ghostwhite;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, rgb(29, 29, 29), rgb(194, 192, 192));
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 11px;
}
